<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/tripzygo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tripzygo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdaniOneRai"
        tools:targetApi="31">
        <activity
            android:name=".OTP_Page"
            android:exported="false" />
        <activity
            android:name=".RegistrationPage"
            android:exported="false" />
        <activity
            android:name=".FlightListRoundTrip"
            android:exported="false" />
        <activity
            android:name=".BillingDetails"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TravellersDetails"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FlightBooking_page"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>